@import url(../fonts/vazir/font-face.css);

body {
    font-family: Vazir;
    font-weight: 100;
    font-size: 12pt;
    background-image: url('../images/pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: auto;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 1280px;

}

footer,
header {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    height: 200px;
    margin: 16px;
    border-radius: 12px;
}

footer {
    height: 80px;
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    height: 70px;
    margin: 16px;
    border-radius: 12px;
}

wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

    wrapper panel {
        display: block;
        flex: 1;
        background-color: rgba(255, 255, 255, 0.6);
        height: 500px;
        margin: 16px;
        border-radius: 12px;
        margin: 0 16px;
    }

    wrapper main-panel {
        display: block;
        flex: 3;
        height: 500px;
        background-color: rgba(255, 255, 255, 0.6);
        margin: 0;
        border-radius: 12px;
    }


@media all and (max-width: 768px) {
    wrapper {
        grid-template-columns: 100%;
    }
	wrapper main-panel {
	margin:16px;
	}
	
	
}
